<!DOCTYPE html>
{% extends 'portal/base.html' %}
{% block title_block %}{{ course.course_name }}{% endblock %}

{% block body_block %}

    <table class="table table-bordered course-detail">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ course.course_name }}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{ course.course_type }}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{{ course.course_start_date }}</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>{{ course.course_end_date }}</td>
            </tr>
            <tr>
                <td>Paperwork</td>
                <td>
                    <li>
                        <a href="" class="btn btn-outline-success btn-sm btn-block btn-btm-marg">Add Custom Paperwork</a>
                    </li>
                {% if paperwork_history %}
                    <div class="flex-column">
                    <ul>
                    <li>
                        <button id="btn-edit" class="btn btn-outline-warning btn-sm btn-block btn-btm-marg">Edit Paperwork</button>
                    </li>
                    {% for paperwork in paperwork_history %}
                        <li>
                            <div id="paperwork_name">{{ paperwork }}</div>
                            <a href="" class="btn btn-outline-danger table-side-button btn-trash hidden"><i class="fa fa-trash-o"></i></a>
                            <a href="{% url 'courses:download_pdf'  download_type='download' paperwork_id=paperwork.id %}"
                            class="btn btn-outline-primary table-side-button">Download</a>
                            <a target="_blank" href="{% url 'courses:download_pdf'  download_type='inline' paperwork_id=paperwork.id %}"
                            class="btn btn-outline-success table-side-button">Show</a>
                        </li>
                    {% endfor %}
{#                    {% if multiple_paperwork %}#}
                        <li>
                            <a href="" class="btn btn-outline-primary btn-sm btn-block btn-top-marg">Download All</a>
                        </li>
{#                    {% endif %}#}
                    </ul>
                    </div>
                {% else %}
                    No paperwork added yet.
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Attendees</td>
                <td>{{ course.members.count }}<a href="{% url 'courses:course_members' course_id=course.id %}" class="btn btn-outline-primary btn-sm table-side-button">Show List</a></td>
            </tr>
        </tbody>
    </table>

<a href="{% url 'courses:courses' %}" class="btn btn-outline-secondary">Back to Courses</a>
<a href="{% url 'courses:edit_course' course_id=course.id %}" class="btn btn-outline-warning">Edit</a>

<script type="text/javascript">

    $("#btn-edit").click(function() {
        $(".course-detail .btn-trash").toggleClass("hidden");
    });

{#document.querySelector("#btn-edit").addEventListener("click",#}
{#        function() {document.querySelectorAll(".course-detail .btn-trash").})#}
</script>

{% endblock %}