<!DOCTYPE html>
{% extends 'portal/base.html' %}

{% block title_block %}Add Member{% endblock %}

{% block body_block %}
    <h1>
        Add a Member
    </h1>

    <form id="add_member" method="post" action="{% url 'members:add_member' %}">
        {% csrf_token %}
        <table class="table table-bordered course-detail">
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td>{{ user_form.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ user_form.last_name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user_form.email }}</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>{{ member_form.date_of_birth }}</td>
                </tr>
                <tr>
                    <td>Club</td>
                    <td>{{ member_form.club }}</td>
                </tr>
                <tr>
                    <td>Active?</td>
                    <td>{{ user_form.is_active }}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" type="submit" name="submit">Add Member</button>
        <a href="{% url 'members:members' %}" class="btn btn-danger">Cancel</a>
    </form>

{% endblock %}
