<!DOCTYPE html>
{% extends 'portal/base.html' %}

{% block body_block %}
{#    Member Section#}
{#    <a href="{% url 'members:add_member' %}">Add Member</a>#}
{#    {% if member_list %}#}
{#        <ul>#}
{#    {% for member in member_list %}#}
{#        <li>{{ member.email }}</li>#}
{#    {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}

    <h3>Members</h3>
    <div class="flex-container flex-wrap">
        <a href="{% url 'members:add_member' %}">Add Member</a>
    </div>
    {% if member_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            {% for member in member_list %}
                <tbody>
                    <tr>
                        <td>{{ member.first_name }}</td>
                        <td>{{ member.last_name }}</td>
                        <td>{{ member.email }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p>No members to show.</p>
    {% endif %}
{% endblock %}