<!DOCTYPE html>
{% extends 'portal/base.html' %}
{% block title_block %}{{ member.name }}{% endblock %}

{% block body_block %}

    <form id="edit_member" method="post" action="{% url 'members:edit_member' user_id=user.id %}">
    {% csrf_token %}
        <table class="table table-bordered course-detail">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>{{ user_form.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ user_form.last_name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user_form.email }}</td>
            </tr>
            <tr>
                <td>Active</td>
                <td>{{ user_form.is_active }}</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>{{ member_form.date_of_birth }}</td>
            </tr>
            <tr>
                <td>Club</td>
                <td>{{ member_form.club }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit" name="submit">Update</button>
    <a href="{% url 'members:member_detail' user_id=user.id %}" class="btn btn-danger">Cancel</a>
    </form>

<a href="{% url 'members:members' %}" class="btn btn-outline-secondary">Back to Members</a>

{% endblock %}