<!DOCTYPE html>
{% extends 'portal/base.html' %}
{% block title_block %}
    Add members
{% endblock %}

{% block body_block %}

    <p>{{ event }}</p>
    {% if members_not_registered %}
    <form id="add_event_members" method="post" action="{% url 'events:add_event_members' event.id %}">
    {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit" name="submit">Add</button>
    </form>
    {% else %}
    <p>No more members to register.</p>
    <a href="{% url 'members:add_member' %}">Register a new member.</a>
    {% endif %}

{% endblock %}